<%- include("../../views/partials/user/header") %>

<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="/evara-user/assets/imgs/theme/logo.svg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            
            
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="/evara-user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="/evara-user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="/evara-user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="/evara-user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="/evara-user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <% if(products && products.length>0){ %>

                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    <%for(let i = 0;i<products.length;i++){%>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="/uploads/re-image/<%=products[i].productId.productImage[0]%>" alt="#"></td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name"><a href="shop-product-right.html"><%=products[i].productId.productName%></a></h5>
                                                <p class="font-xs"><%=products[i].productId.description%>
                                                </p>
                                            </td>
                                            <td class="price" data-title="Price"><span>₹<%=products[i].productId.salePrice%></span></td>
                                            <td class="text-center" data-title="Stock">
                                                <div class="quantity-control">
                                                    <button type="button"
                                                        onclick="updateQuantity('<%= products[i].productId._id %>', -1,'<%= products[i].productId.quantity %>')"
                                                        class="btn-quantity">-</button>
                                                    <span id="quantity-<%= products[i].productId._id %>"
                                                        class="quantity-display">
                                                        <%= products[i].quantity %>
                                                    </span>
                                                    <button type="button"
                                                        onclick="updateQuantity('<%= products[i].productId._id %>', 1,'<%= products[i].productId.quantity %>')"
                                                        class="btn-quantity">+</button>
                                                </div>
                                            </td>
                                            <td class="text-right" data-title="Cart" id="subtotal-<%=products[i].productId._id%>">
                                                <span>₹<%=products[i].totalPrice%></span>
                                            </td>
                                            <td class="action" data-title="Remove"><a href="/removeItem?productId=<%=products[i].productId._id%>" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                        </tr>
                                        <%}%>
                                    
                                <tr>
                                    <td colspan="6" class="text-end">
                                        <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="cart-action text-end">
                            <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                        <% }else{ %>
                            <section class="mt-50 mb-50">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="text-center">
                                                <h1 class="mb-4">Your Cart is Empty</h1>
                                                <p class="mb-4">It seems like you haven't added any products to
                                                    your cart yet.</p>
                                                <p>Start browsing our products and add them to your cart to
                                                    complete your order.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-action text-end">
                                    
                                    <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                                </div>
                            </section>
                            <%}%>

                    </div>
                    
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50">
                       
                        <div class="col-lg-6 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">₹<%=totalAmount%></span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Shipping</td>
                                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">₹<%=totalAmount%></span></strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function removeFromCart(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/removeCart?productId=${productId}`, {
                    method: 'GET',
                })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                })
                .catch(error => {
                    console.error("Error removing item from cart:", error);
                });
            }
        });
    }

    function updateQuantity(productId, change, availableQuantity) {
            const quantityElement = document.getElementById(`quantity-${productId}`);
            const currentQuantity = parseInt(quantityElement.textContent);

            const maxQuantity = Math.min(availableQuantity, 5);

            if (currentQuantity + change < 1) {
                Swal.fire({
                    icon: "warning",
                    title: "Minimum Quantity Reached",
                    text: "The minimum quantity is 1.",
                });
                return;
            }else if(currentQuantity + change > maxQuantity){
                Swal.fire({
                    icon: "warning",
                    title: "Maximum Quantity Reached"
                });
                return;
            }

            fetch(`/update-cart-quantity`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ productId, change }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        quantityElement.textContent = data.newQuantity;
                        document.getElementById(`subtotal-${productId}`).textContent = `₹ ${data.newSubtotal.toLocaleString()}`;
                        document.getElementById("total-price").textContent = `₹ ${data.totalPrice.toLocaleString()}`;
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: data.message,
                        });
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }
</script>

<%- include("../../views/partials/user/footer") %>